<html>
    <head>
        <title>Venkat's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Venkat's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>What is up, how are you doing?</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Great!</p>
        </div>
    </body>
</html>
